
<!-- AutocompleteInput Partial -->
<div style="display:none;" id="autocompleteTemplate">
    <div class="form-group" style="position: relative;">
        <input id="participantInput" type="text" placeholder="E-posta girin veya seçin" autocomplete="off" />
        <div id="suggestions" class="suggestions-list"></div>
    </div>
    <div id="selectedParticipants" class="selected-tags"></div>
</div>
