body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FF0000; /* Beyaz arka plan */
    font-family: 'Segoe UI', sans-serif;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 550px; /* Önceden 400px idi */
    padding: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 90vw;
}

.app-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #FF0000; /* Kırmızı başlık */
    margin-bottom: 20px;
}

.form-container h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #111;
}

.form-container p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #FF0000; /* Kırmızı buton */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .signup-btn:hover {
        background-color: #cc0000; /* Daha koyu kırmızı */
    }

.alt-option {
    margin-top: 15px;
    font-size: 13px;
}
/* Başlangıçta görünmesin */
.hidden-confirm {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.active {
    opacity: 1 !important;
    max-height: 200px !important;
}
/* Hata mesajı */
#passwordError {
    color: red;
    font-size: 13px;
    display: none;
    margin-top: -5px;
    margin-bottom: 10px;
}
.password-wrapper {
    position: relative;
}

    .password-wrapper input {
        padding-right: 40px; /* sağda göz için boşluk */
    }

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
    user-select: none;
}
