html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-panel {
    width: 70%;
    background-color: #f7f5f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-panel {
    width: 30%;
    background-color: #FF0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    height: 220px; /* daha büyük logo */
    margin-top: 100px;
}

.btn {
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px 0;
    margin: 30px 0;
    text-decoration: none;
    font-size: 36px;
    width: 340px;
    text-align: center;
    overflow: hidden;
    transition: color 0.3s ease;
}

    .btn::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 60px; /* Başlangıçta ortalanmış kısa çizgi */
        background-color: white;
        transition: width 0.4s ease;
    }

    .btn:hover::after {
        width: 100%; /* Çizgi butonun tamamını kaplasın */
    }


