@page
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Siber Toplantı Odası</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1 class="company-name">SİBER TOPLANTI ODASI</h1>
            <img src="/images/siber-logo2.png" alt="Şirket Logosu" class="logo" />
        </div>
        <div class="right-panel">
            <a href="/login" class="btn">Personel Girişi</a>
            <a href="/register" class="btn">Sisteme Kayıt</a>
            <a href="#" class="btn">Admin Girişi</a>
        </div>
    </div>
</body>
</html>
