@page
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Siber Toplantı Odası</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            <img src="/icons/anasayfa-icon.png" alt="Şirket Logosu" class="logo" />
            <h1 class="title">SİBER TOPLANTI ODASI</h1>
            <p class="sub-company-name">Siber Bilişim Dağıtım A.Ş.</p>
        </div>

        <div class="right-panel">
            <a href="/login" class="btn">
                <img src="/icons/login.png" class="btn-icon" alt="Personel Girişi">
                Personel Girişi
            </a>

            <a href="/register" class="btn">
                <img src="/icons/open-lock.png" class="btn-icon" alt="Sisteme Kayıt">
                Sisteme Kayıt
            </a>

            <a href="/admin" class="btn">
                <img src="/icons/folder-icon.png" class="btn-icon" alt="Admin Girişi">
                Admin Girişi
            </a>
        </div>
    </div>
</body>
</html>
