@page
@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
    <div class="register-container">
        <!-- form burada olacak -->
    </div>
    <script src="/js/register.js"></script>
</body>
</html>
